body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
}

.button-group {
  width: 75%;
  display: flex;
  margin: auto;
}

.button {
  color: white;
  background-color: black;
  border: none;
  padding: 5px 10px;
  transition: background-color 100ms ease-in;
}

.button:hover {
  cursor: pointer;
  background-color: darkgray;
  transition: background-color 100ms ease-in;
}
